.copy{
    text-align: center;
    font: 12px "helvetica neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
    color: #CCCFD4;
    border-top: 1px solid #CCCFD4;
    padding-top: 1.5em;
    display: block;
  }

  .copy a{
    color: #CCCFD4;
    margin-left: .5em;
  }

  .copy a:hover{
    color: #5E6C84;
  }

  .page-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
  }

  /*
  @media (min-width: 768px) {
   .page-footer{
      position: absolute;
    }
  }
  */
