body{
  margin: 0px;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5E6C84;
  background-color: #F9FAFC;
}

a{
  color: #5E6C84;
  text-decoration: none;
}

a:hover, a:focus{
  text-decoration: underline;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}

body #button-message-photo .ui-button{
  background-color: transparent;
  border: 1px solid #5E81AC;
  color: #5E81AC;
}

body #button-message-photo .ui-button:hover{
  background-color: #5E6C84;
  border: 1px solid #5E6C84;
  color: #fff;
}

body .ui-button{
  background-color: transparent;
  border: 1px solid #5E81AC;
  color: #5E81AC;
}

body .ui-button:enabled:hover{
  background-color: #5E6C84;
  border: 1px solid #5E6C84;
}

body .ui-card-body{
  color: #5E6C84;
  margin-top: 5em;
}

.ui-dataview.ui-dataview-list>.ui-dataview-content>div.ui-g>div{
  padding: .5em;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
  background-color: #5E6C84;
}

/* Start - Message list */
.member{
  display: flex;
  align-items: center;
}

.team-box{
  display: flex;
  align-items: center;
}

.profile-image{
  margin-right: 10px;
}

.profile-image img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.team-member{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.team-member-email{
  font-size: 12px;
  color: #9199a9;
}

.icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.icon-view,
.icon.icon-edit,
.icon.icon-delete{
  background-color: #e0e0e0;
  color: #fff;
}

.icon.icon-view:hover,
.icon.icon-edit:hover,
.icon.icon-delete:hover{
  background-color: #5E6C84;
}

.status{
  margin-right: .3em;
  vertical-align: middle;
  height: .5em;
  width: .5em;
  border-radius: 50%;
  display: inline-block;
}

.status.status-open{ background-color: #4ECCA3; }
.status.status-pending{ background-color: #FFBA92; }
.status.status-closed{ background-color: #FF8080; }
/* End - Message list */

body .ui-fieldset{
  border: 1px solid #9199a9;
color: #9199a9;
}

body .ui-inputtext, body .ui-dropdown{
  border: 1px solid #5E6C84;
  color: #5E6C84;
}
