body{
  margin: 0px;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5E6C84;
  background-color: #F9FAFC;
}

a{
  color: #5E6C84;
  text-decoration: none;
}

a:hover, a:focus{
  text-decoration: underline;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}

body #button-message-photo .ui-button{
  background-color: #0079BF;
  border: 1px solid #0079BF;
}

body .ui-button{
  background-color: #4ECCA3;
  border: 1px solid #4ECCA3;
}

body .ui-button:enabled:hover{
  background-color: #5E6C84;
  border: 1px solid #5E6C84;
}
