.button-search{
  background-color: #5E81AC;
  border: 1px solid #5E81AC;
}

.button-all{
  background-color: #ECEAEA;
  border: 1px solid #ECEAEA;
  color: #5E6C84;
}

.button-open{
  background-color: #4ECCA3;
  border: 1px solid #4ECCA3;
}

.button-pending{
  background-color: #FFBA92;
  border: 1px solid #FFBA92;
}

.button-closed{
  background-color: #FF8080;
  border: 1px solid #FF8080;
}

/* Start - Message list */
.member{
  display: flex;
  align-items: center;
}

.team-box{
  display: flex;
  align-items: center;
}

.profile-image{
  margin-right: 10px;
}

.profile-image img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.team-member{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.team-member-email{
  font-size: 12px;
  color: #9199a9;
}

.icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.icon-view,
.icon.icon-edit,
.icon.icon-delete{
  background-color: #e0e0e0;
  color: #fff;
}

.icon.icon-view:hover,
.icon.icon-edit:hover,
.icon.icon-delete:hover{
  background-color: #5E6C84;
}

.status{
  margin-right: .3em;
  vertical-align: middle;
  height: .5em;
  width: .5em;
  border-radius: 50%;
  display: inline-block;
}

.status.status-open{ background-color: #4ECCA3; }
.status.status-pending{ background-color: #FFBA92; }
.status.status-closed{ background-color: #FF8080; }
/* End - Message list */
