.button-search{
  background-color: #5E81AC;
  border: 1px solid #5E81AC;
}

.button-all{
  background-color: #ECEAEA;
  border: 1px solid #ECEAEA;
  color: #5E6C84;
}

.button-open{
  background-color: #4ECCA3;
  border: 1px solid #4ECCA3;
}

.button-pending{
  background-color: #FFBA92;
  border: 1px solid #FFBA92;
}

.button-closed{
  background-color: #FF8080;
  border: 1px solid #FF8080;
}

/* Start - message list */

.message-list-name{
  color: #5E6C84;
  font-weight: bold;
  margin-bottom: .4em;
  padding: 0;
  margin-right: .8em;
}

.message-list-email{
  color: #CCCFD4;
  font-weight: normal;
  padding: 0;
}

.message-list-category{
  color: #5E6C84;
  font-weight: normal;
  padding: 0;
}

/* End - message list */
