<div class="container">

  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-card class="message-card" header="Mensagens">
        <div class="ui-g">

          <div class="ui-g-12">
            <label>Filtro</label>
          </div>

          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <input type="text" pInputText placeholder="Nome, email ou categoria" />
          </div>

          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <button class="button-search" pButton label="Pesquisar" type="submit"></button>
          </div>

        </div>

        <div class="ui-g">
          <div class="ui-g-12 ui-md-12 ui-lg-12">
            <p-dataView [value]="messages" [paginator]="true" [rows]="10" [loading]="loading">
              <p-header>
                <div class="ui-g">
                  <div class="ui-g-12 ui-md-2 ui-g-2">
                    <button class="button-all" pButton label="Todos" type="submit"></button>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-g-2">
                    <button class="button-open" pButton label="Aberto" type="submit"></button>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-g-2">
                    <button class="button-pending" pButton label="Pendente" type="submit"></button>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-g-2">
                    <button class="button-closed" pButton label="Fechado" type="submit"></button>
                  </div>
                </div>
              </p-header>


              <ng-template pTemplate="listItem" let-messages>
                <div class="ui-g">
                  <div class="ui-g-12">
                    <div class="member">
                      <div class="ui-g-7 team-box">
                        <div class="profile-image">
                          <img src="https://avatars.dicebear.com/v2/initials/{{ messages.name }}.svg" alt="Avatar">
                        </div>
                        <div>
                          <h2 class="team-member">{{ messages.name }}</h2>
                          <div class="status" [ngClass]="{ 'status-open' :  messages.status  == 'open',
                                                          'status-pending' :  messages.status == 'pending',
                                                          'status-closed' :  messages.status == 'closed' }"
                                              pTooltip="Status mensagem" tooltipPosition="bottom"></div>
                          <span class="team-member-email">
                            {{ messages.email }}
                          </span>
                        </div>
                      </div>
                      <div class="ui-g-5 ui-md-12 ui-lg-12 icons">
                        <div class="icon icon-view" pTooltip="Visualizar" tooltipPosition="top"><i class="fa fa-search"></i></div>
                        <div class="icon icon-edit" pTooltip="Editar" tooltipPosition="top"><i class="fa fa-edit"></i></div>
                        <div class="icon icon-delete" pTooltip="Excluir" tooltipPosition="top"><i class="fa fa-trash"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

            </p-dataView>
          </div>
        </div>

      </p-card>
    </div>
  </div>
</div>
